html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    align-items: center;
    background: #faf9f8;
    color: #001319;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 30px 20px;
    text-align: center;
    margin: auto;
    color: #3a3b3e;
  }
  body p {
    margin: 0px;
  }

  h1 {
    font-size: 45px;
    margin: 0px 0px 20px;
    color: #7f8a9f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
.divTable{
    font-size: 0;
    display: inline-block;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    border: 0px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}

.button {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
    background: #313340;
    color: #fff;
    -webkit-box-shadow: inset 0 0 1px #0D476B;
            box-shadow: inset 0 0 1px #0D476B;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}