<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minespil</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" id="restart-game" @click="restartGame">
            Minespil
        </a>
      </nav>
    <div class="container align-items-center">
        <section class="col-6 mx-auto" v-if="!gameIsRunning">
            <div class="col-sm text-center">
                <h1 class="display-3">Minespil!</h1>

                <p>Hvad er dit navn?</p>

                <div class="input-group input-group-sm mb-3">
                    <input type="text" v-model="name" class="form-control"  aria-describedby="inputGroup-sizing-sm">
                </div>
                      
                <button type="button" class="btn btn-primary" id="start-game" @click="startGame">Start et nyt spil</button>
            </div>
        </section>
        <section class="col-6 mx-auto" v-else="">
            <div class="text-center">
                <h3>Velkommen {{ name }}</h3>
                <p>Du har prøvet {{ attempts }} så mange gange! og har {{ hits }} så mange rigtige!</p>
                <div class="divTable">
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('0')">1</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('1')">2</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('2')">3</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('3')">4</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('4')">5</button></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('5')">6</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('6')">7</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('7')">8</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('8')">9</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('9')">10</button></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('10')">11</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('11')">12</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('12')">13</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('13')">14</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('14')">15</button></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('15')">16</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('16')">17</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('17')">18</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('18')">19</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('19')">20</button></div>
                        </div>
                        <div class="divTableRow">
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('20')">21</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('21')">22</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"  @click="checkField('22')">23</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('23')">24</button></div>
                            <div class="divTableCell"><button class="btn btn-dark"   @click="checkField('24')">25</button></div>
                        </div>
                    </div>
                </div>
                <p>Info: du har 10 forsøg</p>
                <hr>
                <button type="button" class="btn btn-info" id="restart-game" @click="restartGame">Forfra!</button>
            </div>
        </section>
    </div>
</div>

<script src="game.js"></script>

</body>
</html>