<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <script src="https://unpkg.com/vue"> </script>
    <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body>

<div id="app">

    <h1>Bombe spil</h1>

    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <input type="text" v-model="name">
            <button id="start-game" @click="startGame">Start et nyt spil</button>
        </div>
    </section>

    <section class="row controls" v-else>
        <div class="small-12 columns">
                <p>Velkommen {{ name }}</p>
                <p>Du har forsøgt {{ attempts }} gange og har {{ hits }} hits</p>
                <hr>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell"><button class='button' id="bomb" @click="checkField('0')">1</button></div>
                        <div class="divTableCell"><button class='button' @click="checkField('1')">2</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('2')">3</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('3')">4</button></div>
                        <div class="divTableCell"><button class='button' @click="checkField('4')">5</button></div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell"><button class='button' @click="checkField('5')">6</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('6')">7</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('7')">8</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('8')">9</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('9')">10</button></div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell"><button class='button'  @click="checkField('10')">11</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('11')">12</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('12')">13</button></div>
                        <div class="divTableCell"><button class='button' @click="checkField('13')">14</button></div>
                        <div class="divTableCell"><button class='button' @click="checkField('14')">15</button></div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell"><button class='button' @click="checkField('15')">16</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('16')">17</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('17')">18</button></div>
                        <div class="divTableCell"><button class='button' @click="checkField('18')">19</button></div>
                        <div class="divTableCell"><button class='button' @click="checkField('19')">20</button></div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell"><button class='button'  @click="checkField('20')">21</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('21')">22</button></div>
                        <div class="divTableCell"><button class='button' @click="checkField('22')">23</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('23')">24</button></div>
                        <div class="divTableCell"><button class='button'  @click="checkField('24')">25</button></div>
                    </div>
                </div>
                <button id="restart" @click="restart">forfra</button>
            </div>
        </div>
    </section>
    

</div>

<script src="game.js"></script>

</body>
</html>